.main-filter-nav {
    display: inline-block;
    margin: 0 3em -0.2em 20em;
}

.main-filter-nav button {
  background-color: rgba(127, 105, 96, 0.5);
  border: 1px solid rgba(127, 105, 96, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 2rem;
  float: left;
  font-family: monospace;
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.main-filter-nav button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 1110px) {
  .main-filter-nav {
    margin-left: 23%;
}
.main-filter-nav button {
  margin-left: 4em;
  width: 7rem;
}
  
}

@media only screen and (max-width: 1110px) {
  .main-filter-nav {
    margin-left: 30%;
  }
  .main-filter-nav button {
    margin-left: 1em;
    width: 7rem;
  }
}


@media only screen and (max-width: 700px){
  .main-filter-nav button{
    max-width: 5rem;
    padding: 0 auto;
    margin-left: 0.6rem;
  }
  .main-filter-nav {
    margin-left: 40%;
  }
}


@media only screen and (max-width: 600px){
  .main-filter-nav button{
    max-width: 4rem;
    padding: 0 auto;
    margin-left: 0.6rem;
  }
  .main-filter-nav {
    margin-left: 40%;
  }
}

@media only screen and (max-width: 460px){
  .main-filter-nav button{
    max-width: 4rem;
    padding: 0 auto;
    margin-left: 0.3rem;
  }
  .main-filter-nav {
    margin-left: 10%;
    margin-top: 5%;
  }
}