.task {
    display: flex;
    background-color: rgba(255, 255, 255, 0.833);
    max-width: 80%;
    margin: 0 10% 3% 10%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
    box-shadow: inset 0 0 10px #433b2d;

}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    margin-left: -4rem;
}



.todo {
  position: relative;
  left: -3rem;
  text-align: left;
  font-size: 1rem;
}

.todo h4 {
  text-decoration: underline;
  font-size: larger;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.button-60 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-bottom: 1rem;
}

.button-60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-60:hover {
  border-color: #b5b5b5;
}

.button-60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

.buttons {
  position: relative;
  right: -90%;
}



#toggle {
 display: block;
 height: 20px;
 width: 20px;
 position: relative;
 left: -4rem;
 top: 2rem;
 cursor: pointer;
}

#done {
  position: relative;
  left: -4rem;
  top: 0;
  color: greenyellow;
  font-size: 1.6rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  cursor: pointer;
}

@media only screen and (max-width: 680px) {
  .task {
    width: 100%;
  }
  .buttons {
    position: relative;
    right: -85%;
  }

  .button-60 {
    right: 30%;
  }
  .todo {
    width: 60%
  }

}

@media only screen and (max-width: 460px) {
  .button-60 {
    right: 40%;
    font-size: 11px;
  }
  .todo {
    font-size: 11px;
    width: 60%;
    left: -2.5rem;
  }

  #toggle {
    left: -3rem;
  }

  #done {
    left: -3rem;
  }

}



@media only screen and (min-width: 680px) and (max-width: 1400px) {
  .buttons {
    right: -85%;
  }

  .todo {
    font-size: 14px;
    left: -1rem;
    width: 70%
  }

  #toggle {
    left: -2.5rem;
  }

  #done {
    left: -2.5rem;
  }

}