.todolist {
    display: block;
    background: 
      linear-gradient(0deg, 
      rgba(184, 152, 134, 0.3) 0%, 
       rgb(127, 105, 96) 100%);
    width: 70%;
    min-height: 32rem;
    padding: 3% 0 2% 0;
    margin-left: 15%;
}

@media only screen and (max-width: 1024px) {
    .todolist {
        width: 94%;
        margin-left: 3%;
    }
}